body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
}

/* Scrolling text */
.scrolly {
  width: 35%;
  padding: 40px;
}

.step {
  margin-bottom: 80vh;
  padding: 20px;
  background: #f2f2f2;
  border-left: 5px solid #999;
}

.step.is-active {
  background: #e6f2ff;
  border-left-color: steelblue;
}

/* Graphic area */
.graphic {
  position: sticky;
  top: 50px;
  width: 65%;
  height: 100vh;
  background: white;
}

.graphic svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* Start with only bar chart visible */
#network {
  opacity: 0;
  pointer-events: none;
}

/* Nav */
/* Add a black background color to the top navigation */
.topnav {
    position: sticky;
    top: 0;
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    gap: 5px;
    padding: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .book_idx {
    height: 40px;
    width: 10px;
    background-color: grey;
    border: 1px solid white;
    color: transparent;
    text-align: center;
    background-clip: content-box;
    line-height: 40px;
    transition: all 0.3s ease;
    font-size: 12px;
    white-space: normal;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topnav .book_idx:hover {
    width: auto;
    height: 40px;
    background-color: blue;
    color: white;
    font-weight: bold;
    line-height: 1.5;
}